:root {
  --clr-primary: rgba(13, 211, 145, 0.986);
  --clr-primary-hover:rgba(13, 211, 145, 0.986);
  --transition: 0.5s ease;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:ital,wght@0,400;0,500;0,900;1,700&display=swap');

body {
  font-family: 'Poppins';
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

a {
  text-decoration: none;
}


.navbar-nav a{
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  overflow: hidden;
  color: #262626;
  transition: 1s;
}

.navbar-light .navbar-brand{
  color: #262626;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
 letter-spacing: 2px;
}

.navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: red;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
  .navbar li:hover>a:before,
  .navbar .active:before {
    visibility: visible;
    width: 100%;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #000;
  }

  .black {
    background:rgba(13, 211, 145, 0.986);
    color: white;
    }
.black ul{
  color: white;
}

.navbar-logo{
  height: 35px;
  padding-bottom: 5px;
}

.btn-book-demo{
  font-size: 14px;
  color: #fff;
  background: #262626;
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 40px;
  transition: 0.3s;
  animation: shadow-pulse 2s infinite;
}

.btn-book-demo:hover,
.btn-book-demo:focus:hover{
  color: #fff;
}

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
}

@keyframes shadow-pulse-big
{
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0 0 0 70px rgba(0, 0, 0, 0);
  }
}


.black {
  background:rgba(13, 211, 145, 0.986);
  color: white;
  }
  
  #why-online-title {
    margin: 20px auto 80px;
    font-size: 38px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.5;
    padding-top: 20px;
    font-family: "Poppins";
    /* color: antiquewhite; */
  }

  .points-container{
    /* background-color: rgba(0, 0, 0, 0.863); */
    /* background-image: url("image3.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    
    }
  
    .filler1{
      /* background-color: rgba(30, 79, 170, 0.589); */
      background-size: contain;
      max-height: 300px;
      height: 300px;
      
      text-align: center;
      justify-content: center;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 95%;
      background-image: url("business-strategy-making-team\ \(1\).png");
    }
    .filler2{
      /* background-color: rgba(30, 79, 170, 0.589); */
      background-size: contain;
      max-height: 300px;
      height: 300px;
      text-align: center;
      justify-content: center;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 95%;
      background-image: url("WhatsApp\ Image\ 2022-09-04\ at\ 9.14.50\ PM.jpeg");
    }

    .filler3{
      /* background-color: rgba(30, 79, 170, 0.589); */
      background-size: contain;
      max-height: 300px;
      height: 300px;
      text-align: center;
      justify-content: center;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 75%;
      background-image: url("4b4dd844-f2e6-4f00-a78b-2cc00bbc2960.png");
    }

    .filler img{
      width: 100%;
    }


  .image-container-why-online{
    /* height: 600px; */
    height: 100vh;
    width: 100%;
    
    background-color: rgb(1, 210, 142);
    padding: 10%;
    padding-top: 0;

    /* scroll effect */
    position: relative;
    overflow: hidden;
    /* background: #000; */
  }

  #inner-image-container{
    padding-top: 0%;
    justify-content: center;
    align-items:  center;
    vertical-align: center;
    display: flex;
    width: 85%;
    flex-direction: row-reverse;
    position: absolute;
    /* background-color: aqua; */
    
  }

  #chess-image{
    width: 60%;

    /* scroll effect */
    /* position: absolute; */
  }

  .image-container-why-online h1{
    color: rgb(0, 0, 0);
    font-size:5em;
    font-family:"poppins";
    font-weight: 600;
  } 

  .image-container-why-online p{
    font-weight: 500;
    font-size: 1em;
  }

  .image-container-text{
    width: 40%;
    padding-top: 2%;
    /* padding-top: 5%;
    text-align: left;
    padding-left: 0%; */

    /* position: absolute */
  }

  .image-container-text h1{
    font-weight: 900;
    text-align: left;
  }

  .image-container-text p{
    font-weight: 500;
    font-size: 1.2em;
  }

  @media screen and (max-width: 820px){
    .image-container-why-online{
      flex-direction: column-reverse;
      /* padding-top: 0; */
      /* padding: 20%; */
      justify-content: center;
      align-items: center;
      max-height: 500px;
      
    }

    #inner-image-container{
      flex-direction: column-reverse;
      padding-top: 10%;

      /* position: relative; */
      
    }
    #chess-image{
      width: 100%;
      opacity: 0.8;
      max-width: 500px;
    }

    .image-container-text{
      /* display: flex; */
      height: 200px;
      width: 100%;
      z-index: 10;
      /* margin-top: 10%; */
    }

    .image-container-text p{
      /* justify-content: center;
      vertical-align: center;
      align-items: center; */
      /* padding-top: 10%; */
      width: 80%;
      margin: auto;
      text-align: center;
     
    }

    .image-container-text h1{
      font-size: 3em;
      text-align: center;
    }

  }

  /* .scroll-downs {
    position: absolute;
    
    right: 0;
    left: 0;
    bottom: 4%;
    margin: auto;
    
    width :34px;
    height: 55px;
  }
  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(30px); opacity: 0;}
  } */

  

  /*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

/* .ftco-section {
  padding: 12em 0; }
  .ftco-section h2 {
    margin-bottom: 0; } */
footer {
      padding: 2em 0; 
     
    }

    footer a{
      text-decoration: none;
    }
    
.footer-07 {
   background: #121212; 
  }

.footer-07 a {
  color: #ffffff; 
}
      .footer-07 p {
        color: rgba(255, 255, 255, 0.3); }
      .footer-07 .footer-heading {
        font-size: 30px;
        color: #fff;
        font-weight: 700;
        margin-bottom: 30px; }
        .footer-07 .footer-heading .logo {
          color: rgb(1, 210, 142); }  /*color of footer main company name*/
      .footer-07 .menu {
        margin-bottom: 30px; }
        .footer-07 .menu a {
          color: rgba(255, 255, 255, 0.6);
          margin: 0 10px;
          text-transform: uppercase;
          letter-spacing: 1px; }
      .footer-07 .ftco-footer-social li a {
        background: transparent;
        border: 1px solid rgb(1, 210, 142); } /*color of socials border*/
    
    
        .ftco-footer-social li {
          list-style: none;
          margin: 0 10px 0 0;
          display: inline-block; }
          .ftco-footer-social li a {
            height: 40px;
            width: 40px;
            display: block;
            background: rgba(0, 0, 0, 0.05);
            border-radius: 50%;
            position: relative; }
            .ftco-footer-social li a span {
              position: absolute;
              font-size: 20px;
              top: 50%;
              left: 50%;
              color: rgb(1, 210, 142);  /*color of the social icons*/
              -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
            .ftco-footer-social li a:hover {
              color: #fff; }
        
    
        .copyright a{
          color: rgb(1, 210, 142);
          text-decoration: none; /*color of copyright*/
        }


/* ================ CLASS CARD ======================= */
      .classes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        /* background: rgb(13,211,145);
            background: radial-gradient(circle, rgba(13,211,145,1) 38%, rgba(0,212,255,1) 100%);
        /* background: -webkit-linear-gradient(to bottom, #938FFF, #0DD391); Chrome 10-25, Safari 5.1-6 */
        /* background: linear-gradient(to bottom, #938FFF, #0DD391); */
        /* background-image: url(../img/background1.jpg);
       background-size: cover; */
      }

      .classes .heading {
        font-size: 40px;
        text-transform: uppercase;
      }

        .class-card {
          width: 992px;
          height: 255px;
          background: #fff;
          margin-top: 50px;
          box-shadow: 0px 0px 20px  gray;
          border-radius: 15px;
          overflow: hidden;
          display: flex;
       }
        .class-card .leftSide {
          min-width: 322px;
          height: 255px;
          /* background-image: url(../img/pawn.jpg);
          background-size: cover; */
          padding-top: 36px;
          border-radius: 15px;
       }

       .playful_pawn .leftSide {
        background-image: url(../img/pawn.jpg);
          background-size: cover;
       }
       .nimble_knight .leftSide {
        background-image: url(../img/knight.jpg);
          background-size: cover;
       }

       .bright_bishops .leftSide {
        background-image: url(../img/bishop.jpg);
          background-size: cover;
       }

       .rampant_rooks .leftSide {
        background-image: url(../img/rook.jpg);
          background-size: cover;
       }

       .mighty_queen .leftSide {
        background-image: url(../img/queen.jpg);
          background-size: cover;
       }

       .crowned_king .leftSide {
        background-image: url(../img/king.jpg);
          background-size: cover;
       }
        .class-card .leftSide label {
          margin-left: 39px;
          font-family: Mulish;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 18px;
         /* identical to box height */
          text-align: center;
          letter-spacing: 2.1px;
          text-transform: uppercase;
          color: white;
          mix-blend-mode: normal;
          opacity: 0.7;
       }
        .class-card .leftSide h3 {
          font-family: Mulish;
          font-style: normal;
          font-weight: 900;
          font-size: 34px;
          line-height: 35px;
         /* or 125% */
          color: #fff;
          margin-top: 13px;
          margin-left: 37px;
       }
        
        .class-card .rightSide {
          display: flex;
          padding: 20px;
          justify-content: center;
          
       }
        .class-card .rightSide .title h5 {
          /* margin-right: 151px; */
          margin-top: 36px;
          font-family: Mulish;
          font-style: normal;
          font-weight: normal;
          font-size: 17px;
          line-height: 18px;
         /* identical to box height */
         text-align: left;
          letter-spacing: 2.1px;
        
          color: black;
          mix-blend-mode: normal;
          opacity: 0.7;
       }

       .subheading {
        font-size: 18px;
        text-align: left;
        text-transform: uppercase;
       }
        .class-card .rightSide .title h3 {
          font-family: Mulish;
          font-style: normal;
          font-weight: normal;
          font-size: 30px;
          line-height: 35px;
          margin-left: 50px;
          margin-top: 11px;
          color: #2c2760;
       }
        .class-card .rightSide .progBar {
          width: 218px;
          height: 6px;
          background: #dddbf1;
          border-radius: 3px;
          overflow: hidden;
          margin-top: 39px;
          margin-left: 44px;
       }
        .class-card .rightSide .progBar .bar {
          width: 140px;
          height: 6px;
          background: #2c2760;
          border-radius: 3px;
       }
        .class-card .rightSide small {
          margin-left: 153px;
          margin-top: 5px;
          font-family: Mulish;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 15px;
         /* identical to box height */
          text-align: right;
          letter-spacing: 1.8px;
          color: #242e4c;
          mix-blend-mode: normal;
          opacity: 0.7;
       }
         .class-btn {
          width: 161px;
          height: 40px;
          background: #938FFF;
          box-shadow: 0px 15px 20px -10px rgba(71, 62, 166, 0.552989);
          border-radius: 28.5px;
          display: flex;
          text-decoration: none;
          align-items: center;
          justify-content: center;
          font-family: Mulish;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 25px;
          color: white;
          cursor: pointer;
          transition: 0.3s;
          margin-left: 470px;
          user-select: none;
       }

     .playful_pawn .class-btn {
        margin-top: 40px;
      }

      .nimble_knight .class-btn {
        margin-top: 43px;
      }
      
      .bright_bishops .class-btn {
        margin-top: 22px;
      }

      .rampant_rooks .class-btn {
        margin-top: 22px;
      }

      .mighty_queen .class-btn {
        margin-top: 22px;
      }

      .crowned_king .class-btn {
        margin-top: 42px;
      }
       
      


      .class-btn:hover {
          transform: scale(1.01);
       }